/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31 janv. 2023, 08:58:08
    Author     : damien.zuchetto
*/
.agauche {
  text-align: left;
  color: #FFF300;
  font-size: 150%;
  position: absolute;
  bottom: -550px;
  left: 8px;
}
.adroite {
  text-align: right;
  color: #FFF300;
  font-size: 150%;
  position: absolute;
  bottom: -550px;
  right: 8px;
}

.video1 {
  position: absolute;
  text-align: left;
  bottom: -950px;
  left: 8px;
  width: 130%;
}

.video2 {
  position: absolute;
  text-align: left;
  bottom: -950px;
  right: -1135px;
  width: 130%;
}


table{
  border-collapse: collapse
}

td{
  border: 1px solid black;
  padding: 10px;
}
