body {
    color:black;
    background-color:white;
    background-image:url(images/cestbleu.gif);
    background-repeat: repeat;
    background-size: cover;
}

.menu {
    display: flex;              
    padding:0;                  
    background-color: #FF7000;     
}


.menu li {
    list-style-type: none ;      
}

.menu a {
    display:block;         
    min-width: 120px;            
}

.menu a {
    display:block;              
    min-width: 120px;           
    
    margin: 0.5rem;       
    padding: 0.4rem 0;           
    text-align: center;        
    background-color: #D7D746;   
    color: #fff;                
    text-decoration: none;       
    border: 1px solid #fff;      
    border-radius: 4px;           
}

.menu {
    display: flex;            
    padding:0;             
    background-color: #FF7000;  
    justify-content: center    
}

.menu a:hover {
  background-color: #27C0E2;
  color: #ffe843;
  border-color: #FFFF00;
}


.menu a {
    display:block;               
    min-width: 120px;            
    margin: 0.5rem;           
    padding: 0.4rem 0;           
    text-align: center;             
    background-color: #D7D746;   
    color: #fff;                 
    text-decoration: none;        
    border: 1px solid #fff;       
    border-radius: 4px;           
    transition: all 1s ;          
}
